# Exclude Vivado simulation and cache files
vivado_proj/*.sim/
vivado_proj/*.cache/
vivado_proj/*.hw/
vivado_proj/*.ip_user_files/

# Exclude soc_top project temporary files
user_files/soc_top.sv/*.sim/
user_files/soc_top.sv/*.cache/
user_files/soc_top.sv/*.hw/
user_files/soc_top.sv/*.ip_user_files/

# Exclude generic Vivado log files and temp directories
.Xil/
*.log
*.jou
*.backup
*.wdb
*.str
